---
- name: bash role
  tags:
    - bash
  block:

  # assert
  - name: Assertions for bash role
    ansible.builtin.assert:
      that:
      - bash_user != None

  # bash_files_copy
  - when: bash_files_copy | length > 0
    block:

   # assert files
    - name: Assertions for {{ bash_files_copy }}
      loop: "{{ bash_files_copy }}"
      ansible.builtin.assert:
        that:
        - item.src is defined
        - item.dst

    # cp files
    - name: Copy files for user {{ bash_user }}
      loop: "{{ bash_files_copy }}"
      become: true
      ansible.builtin.copy:
        src: "{{ item.src }}"
        dest: "{{ item.dst }}"
        owner: "{{ bash_user }}"
        group: "{{ bash_user }}"
        mode: u=rw,g=,o=

  # bash_files_remove
  - when: bash_files_remove | length > 0
    block:

    # rm files
    - name: Remove files for user {{ bash_user }}
      loop: "{{ bash_files_remove }}"
      become: true
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
